body {
    background-color: #EEE6DE;
}

.pageContainer{
    display: flex;
    z-index: 0;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
    flex-direction: column;
    font-family: Nats, sans-serif;
    overflow-y: scroll;
}
.addProjectButtonContainer{
    display: flex;
    justify-content: flex-end;
    width: 80%;
}
.addProjectButton{
    width: 6vw;
    background: #BE845E;
    color: white;
    border-radius: 8px;
    border: none;
    padding: 0px;
    box-shadow: rgba(99, 99, 99, 0.4) 0px 2px 6px 0px;
    font-family: Nats, sans-serif;
    
}
.addProjectButton:focus, .submitButton:focus{
    background-color: #A37253;
}
/* .addProjectInput{
    background-color: white;
    border: none;
    width: 50%;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.4) 0px 2px 6px 0px;
    padding: 1%;
} */
.displayPageContainer{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: flex-start;
    justify-content: flex-start;
    font-family: Nats, Helvetica, sans-serif;
}
.loginContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    height: 50%;
    width: 30%;
    border: none;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.4) 0px 2px 8px 0px;
    padding: 0.1%;
}
.addProjectContainer{
    display: flex;
    align-items: center;
    background-color: white;
    width: 30%;
    border: none;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.4) 0px 2px 8px 0px;
    padding: 2%;
}
.addProjectRow{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 10%;
    align-items: center;
    justify-content: space-around;
}
.addProjectLabelContainer{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.projectEntry{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: white;
    height: auto;
    width: 80%;
    border: none;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.4) 0px 2px 8px 0px;
    padding: 2%;
    font-size: 10px;
    margin-top: 2%;
}
.loginLabel{
    font-size: 10px;
}

.pullReqRed{
    color: red;
}
.pullReq{
    color: green
}
.pullReqBlack{
    color: black;
}
.pullReqContainer{
    display: flex;
    padding: 2px;
    margin-top: 2px;
}

.submitButton{
    width: 20vw;
    height: 3vh;
    background: #BE845E;
    color: white;
    border-radius: 8px;
    border: none;
    font-family: Nats, sans-serif;
}

.inputField, .addProjectInput{
    width: 20vw;
    height: 5vh;
    border-radius: 0.1rem;
    border: 1px solid rgba(0, 0, 0, 0.5);
    margin: 5px 0 5px 0;
}

.inputField:focus, .addProjectInput:focus{
    outline-width: 0;
}

.loginPageHeader{
    display: flex;
    justify-content: flex-start;
    width: 20vw;
}


h4{
    font-family: Nats, sans-serif;
    font-size: 24px;
    margin: 0px;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: Nats, sans-serif;
    font-size: 5rem;
    margin-bottom: 10vh;
}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: underline; }
